.container {
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.header {
  height: 90px;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.header img {
  height: 100%;
  display: block;
  margin: auto;
}

section.loading {
  height: 100vh;
}

.loading h1 {
  color: #fff;
  padding: 100px;
}

section.characters {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
